body {
  background-color: white;
}

h1 {
  color: black;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
div {
  width: 400px;
  height: 200px;  
  padding: 50px;
  border: 1px solid black;
  text-align: right;
}
